
.sign-up-container{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(109, 117, 117);
    font-size: 18px;
}
.sign-up-title{
    text-align: center;
    font-size: 36px;
    margin-bottom: 20px;
}
.sign-up-wrapper{
    width: 500px;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
}
.form-group{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    font-size: 18px;
}
.sign-up-wrapper .form-group input, select{
    flex: 1;
    outline: none;
    border: none;
}
.sign-up-wrapper .form-group input:focus{
    border-bottom: 2px solid rgb(13, 13, 43);
}
.sign-up-form{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.sign-up-form button{
    padding: 10px;
    font-size: 18px;
    background-color: rgb(13, 13, 43);
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}
.dropdown-class{
    border: none;
    outline: none;
    padding: 18px;
}
.edit-form{
    align-items: self-start;
}
@media only screen and (max-width: 767px) {
    .sign-up-container{
        align-items: stretch;
    }
    .sign-up-wrapper{
        width: 90%;
        border-radius: 0px;
    }
    .form-group{
        flex-direction: column;
        align-items: flex-start;
        gap: 8px;
    }
    .sign-up-wrapper .form-group input{
        width: 100%;
    }
}