.dashboard-container{

}
.dashboard-wrapper{
    max-width: 1150px;
    margin: 0 auto;
    position: relative;
    padding:0 5%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.item:hover{
    background-color: #f1f1f1;
    cursor: pointer;
}